.elementor-3681 .elementor-element.elementor-element-35df19c {
  text-align: left;
}
.elementor-3681 .elementor-element.elementor-element-35df19c img {
  width: 200px;
}
.elementor-3681
  .elementor-element.elementor-element-35df19c
  > .elementor-widget-container {
  margin: 0px 0px 20px 0px;
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__container {
  min-height: 36px;
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__submit {
  min-width: calc(1.4 * 36px);
  --e-search-form-submit-text-color: #ffffff;
  background-color: var(--e-global-color-accent);
  --e-search-form-submit-icon-size: 14px;
}
body:not(.rtl)
  .elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__icon {
  padding-left: calc(36px / 3);
}
body.rtl
  .elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__icon {
  padding-right: calc(36px / 3);
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__input,
.elementor-3681
  .elementor-element.elementor-element-525a803.elementor-search-form--button-type-text
  .elementor-search-form__submit {
  padding-left: calc(36px / 3);
  padding-right: calc(36px / 3);
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  input[type="search"].elementor-search-form__input {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__input,
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__icon,
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-lightbox
  .dialog-lightbox-close-button,
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-lightbox
  .dialog-lightbox-close-button:hover,
.elementor-3681
  .elementor-element.elementor-element-525a803.elementor-search-form--skin-full_screen
  input[type="search"].elementor-search-form__input {
  color: var(--e-global-color-text);
  fill: var(--e-global-color-text);
}
.elementor-3681
  .elementor-element.elementor-element-525a803:not(.elementor-search-form--skin-full_screen)
  .elementor-search-form__container {
  background-color: var(--e-global-color-a141cd2);
  border-color: var(--e-global-color-dfceda1);
  border-width: 1px 1px 1px 1px;
  border-radius: 3px;
}
.elementor-3681
  .elementor-element.elementor-element-525a803.elementor-search-form--skin-full_screen
  input[type="search"].elementor-search-form__input {
  background-color: var(--e-global-color-a141cd2);
  border-color: var(--e-global-color-dfceda1);
  border-width: 1px 1px 1px 1px;
  border-radius: 3px;
}
.elementor-3681
  .elementor-element.elementor-element-525a803:not(.elementor-search-form--skin-full_screen)
  .elementor-search-form--focus
  .elementor-search-form__input,
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form--focus
  .elementor-search-form__icon,
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-lightbox
  .dialog-lightbox-close-button:hover,
.elementor-3681
  .elementor-element.elementor-element-525a803.elementor-search-form--skin-full_screen
  input[type="search"].elementor-search-form__input:focus {
  color: var(--e-global-color-primary);
  fill: var(--e-global-color-primary);
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  .elementor-search-form__submit:hover {
  --e-search-form-submit-text-color: #ffffff;
  background-color: var(--e-global-color-primary);
}
.elementor-3681
  .elementor-element.elementor-element-525a803
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-menu-toggle {
  color: var(--e-global-color-text);
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown {
  background-color: #ffffff00;
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a.highlighted,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-menu-toggle:hover {
  color: var(--e-global-color-accent);
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a:hover,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a.elementor-item-active,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a.highlighted {
  background-color: #ffffff00;
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a.elementor-item-active {
  color: var(--e-global-color-accent);
  background-color: #02010100;
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  .elementor-item,
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  .elementor-sub-item {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  text-transform: var(--e-global-typography-text-text-transform);
  font-style: var(--e-global-typography-text-font-style);
  text-decoration: var(--e-global-typography-text-text-decoration);
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  .elementor-nav-menu--dropdown
  a {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-3681
  .elementor-element.elementor-element-83e30e7
  > .elementor-widget-container {
  margin: 10px 0px 10px 0px;
}
.elementor-3681
  .elementor-element.elementor-element-003fa15
  .elementor-button
  .elementor-align-icon-right {
  margin-left: 8px;
}
.elementor-3681
  .elementor-element.elementor-element-003fa15
  .elementor-button
  .elementor-align-icon-left {
  margin-right: 8px;
}
.elementor-3681 .elementor-element.elementor-element-003fa15 .elementor-button {
  font-family: var(--e-global-typography-a906496-font-family), Sans-serif;
  font-size: var(--e-global-typography-a906496-font-size);
  font-weight: var(--e-global-typography-a906496-font-weight);
  text-transform: var(--e-global-typography-a906496-text-transform);
  font-style: var(--e-global-typography-a906496-font-style);
  text-decoration: var(--e-global-typography-a906496-text-decoration);
  line-height: var(--e-global-typography-a906496-line-height);
  letter-spacing: var(--e-global-typography-a906496-letter-spacing);
  word-spacing: var(--e-global-typography-a906496-word-spacing);
  fill: var(--e-global-color-text);
  color: var(--e-global-color-text);
  background-color: var(--e-global-color-a141cd2);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: var(--e-global-color-dfceda1);
  padding: 10px 60px 10px 60px;
}
.elementor-3681
  .elementor-element.elementor-element-003fa15
  .elementor-button:hover,
.elementor-3681
  .elementor-element.elementor-element-003fa15
  .elementor-button:focus {
  color: #ffffff;
  background-color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-3681
  .elementor-element.elementor-element-003fa15
  .elementor-button:hover
  svg,
.elementor-3681
  .elementor-element.elementor-element-003fa15
  .elementor-button:focus
  svg {
  fill: #ffffff;
}
.elementor-3681 .elementor-element.elementor-element-9593365 {
  --grid-template-columns: repeat(0, auto);
  --icon-size: 16px;
  --grid-column-gap: 8px;
  --grid-row-gap: 0px;
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-widget-container {
  text-align: left;
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-social-icon {
  background-color: #ffffff;
  --icon-padding: 0.2em;
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-social-icon
  i {
  color: #b8b8b8;
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-social-icon
  svg {
  fill: #b8b8b8;
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-social-icon:hover {
  background-color: #ffffff;
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-social-icon:hover
  i {
  color: var(--e-global-color-accent);
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  .elementor-social-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-3681
  .elementor-element.elementor-element-9593365
  > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
}
#elementor-popup-modal-3681 .dialog-message {
  width: 50vw;
  height: 100vh;
  align-items: flex-start;
  padding: 40px 40px 40px 40px;
}
#elementor-popup-modal-3681 {
  justify-content: center;
  align-items: center;
  pointer-events: all;
  background-color: rgba(0, 0, 0, 0.8);
}
#elementor-popup-modal-3681 .dialog-close-button {
  display: flex;
}
#elementor-popup-modal-3681 .dialog-widget-content {
  animation-duration: 1.2s;
  box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, 0.2);
}
#elementor-popup-modal-3681 .dialog-close-button i {
  color: var(--e-global-color-secondary);
}
#elementor-popup-modal-3681 .dialog-close-button svg {
  fill: var(--e-global-color-secondary);
}
#elementor-popup-modal-3681 .dialog-close-button:hover i {
  color: var(--e-global-color-text);
}
@media (max-width: 1024px) {
  .elementor-3681
    .elementor-element.elementor-element-525a803
    input[type="search"].elementor-search-form__input {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-3681
    .elementor-element.elementor-element-525a803
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-3681
    .elementor-element.elementor-element-83e30e7
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-3681
    .elementor-element.elementor-element-83e30e7
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-text-font-size);
  }
  .elementor-3681
    .elementor-element.elementor-element-003fa15
    .elementor-button {
    font-size: var(--e-global-typography-a906496-font-size);
    line-height: var(--e-global-typography-a906496-line-height);
    letter-spacing: var(--e-global-typography-a906496-letter-spacing);
    word-spacing: var(--e-global-typography-a906496-word-spacing);
    padding: 12px 30px 12px 30px;
  }
  .elementor-3681
    .elementor-element.elementor-element-9593365
    .elementor-widget-container {
    text-align: left;
  }
  #elementor-popup-modal-3681 .dialog-message {
    width: 100vw;
  }
  #elementor-popup-modal-3681 {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .elementor-3681 .elementor-element.elementor-element-35df19c {
    text-align: center;
  }
  .elementor-3681 .elementor-element.elementor-element-35df19c img {
    width: 160px;
  }
  .elementor-3681
    .elementor-element.elementor-element-525a803
    input[type="search"].elementor-search-form__input {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-3681
    .elementor-element.elementor-element-525a803
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-3681
    .elementor-element.elementor-element-83e30e7
    .elementor-nav-menu--dropdown
    .elementor-item,
  .elementor-3681
    .elementor-element.elementor-element-83e30e7
    .elementor-nav-menu--dropdown
    .elementor-sub-item {
    font-size: var(--e-global-typography-text-font-size);
  }
  .elementor-3681
    .elementor-element.elementor-element-003fa15
    .elementor-button {
    font-size: var(--e-global-typography-a906496-font-size);
    line-height: var(--e-global-typography-a906496-line-height);
    letter-spacing: var(--e-global-typography-a906496-letter-spacing);
    word-spacing: var(--e-global-typography-a906496-word-spacing);
  }
  .elementor-3681
    .elementor-element.elementor-element-9593365
    .elementor-widget-container {
    text-align: center;
  }
  #elementor-popup-modal-3681 .dialog-message {
    width: 100vw;
    padding: 20px 20px 20px 20px;
  }
  #elementor-popup-modal-3681 .dialog-close-button {
    font-size: 16px;
  }
}
